<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Templamate</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<header>
		<img src="img/logo.png" width="50px" height="60px" class="logo"></img><span class="letters">inimal</span>
		<div class="main-menu">
			<span style="padding-left: 480px">Products</span>
			<span>Services</span>
			<span class="menu">Contact</span>
	</header>

	<main>		
			<section class="firstsection">
				<img src="img/iphone.png" alt="iphone" width="255px" height="448px">
				<div class="description">
					<div  class="earth">		
							<img src="img/earth.png" alt="earth" width="55px" height="55px">	
							<span>APP OF<br>THE YEAR</span>
					</div>
					<div class="text">	
					<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
					<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
					</div>
					<div class="buy">
						<a href="#">
							<svg>
								<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
								<circle r="3px" cx="22" cy="36" fill="white"/>	
								<circle r="3px" cx="31" cy="36" fill="white"/>	
							</svg>
						</a>	
						<div><a href="#">Buy now</a></div>
					</div>
				</div>					
					<ul class="main-menu"></li>
						<li class="menu first"><img src="img/3.png" alt="iphone"></li>
						<li class="menu second"><img src="img/2.png" alt="ipad"></li>
						<li class="menu third"><img src="img/1.png" alt="macbook"></li>
					</ul> 				  									
			</section>
			<section class="secondsection">
				<span class="header">About minimal</span>	
				<p class="text">orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				<div class="image"><img src="img/image.png" alt="app of the year"></div>	
			</section>	
			<section class="thirdsection">
				<ul class="drop_menu">
					<li class="drop_list_a"> <a href="#"><img src="img/loupe.png" alt=""></a>
											<ul class="drop_podmenu_1">
												<li class="drop_podlist">
													<div class="content">
														<img src="img/macbook.png" alt="macbook" height="329px;">
														<div class="description">
															<div class="text">	
																<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
																<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
															</div>
															<div class="buy">
																<a href="#">
																	<svg>
																		<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
																		<circle r="3px" cx="22" cy="36" fill="white"/>	
																		<circle r="3px" cx="31" cy="36" fill="white"/>	
																	</svg>
																</a>	
																<div class="buy_now">
																	<a href="#">Buy now</a>
																</div>
															</div> 
														</div>	
									       </div>	
												</li>
											</ul> 
					</li>
					<li class="drop_list_b"> <a href="#"><img src="img/on.png" alt=""></a>
											<ul class="drop_podmenu_2">
												<li class="drop_podlist">
													<div class="content">
														<img src="img/macbook.png" alt="macbook" height="329px;">
														<div class="description">
															<div class="text">	
																<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
																<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
															</div>
															<div class="buy">
																<a href="#">
																	<svg>
																		<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
																		<circle r="3px" cx="22" cy="36" fill="white"/>	
																		<circle r="3px" cx="31" cy="36" fill="white"/>	
																	</svg>
																</a>	
																<div class="buy_now">
																	<a href="#">Buy now</a>
																</div>
															</div> 
														</div>	
									       </div>	
												</li>
											</ul> 
					</li>
					<li class="drop_list_c"> <a href="#"><img src="img/apple.png" alt=""></a>
											<ul class="drop_podmenu_3">
												<li class="drop_podlist">
													<div class="content">
														<img src="img/macbook.png" alt="macbook" height="329px;">
														<div class="description">
															<div class="text">	
																<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
																<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
															</div>
															<div class="buy">
																<a href="#">
																	<svg>
																		<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
																		<circle r="3px" cx="22" cy="36" fill="white"/>	
																		<circle r="3px" cx="31" cy="36" fill="white"/>	
																	</svg>
																</a>	
																<div class="buy_now">
																	<a href="#">Buy now</a>
																</div>
															</div> 
														</div>	
									       </div>
												</li>
											</ul>
					</li>
					<li class="drop_list_d"> <a href="#"><img src="img/basket.png" alt=""></a>
											<ul class="drop_podmenu_4">
												<li class="drop_podlist">
													<div class="content">
														<img src="img/macbook.png" alt="macbook" height="329px;">
														<div class="description">
															<div class="text">	
																<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
																<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
															</div>
															<div class="buy">
																<a href="#">
																	<svg>
																		<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
																		<circle r="3px" cx="22" cy="36" fill="white"/>	
																		<circle r="3px" cx="31" cy="36" fill="white"/>	
																	</svg>
																</a>	
																<div class="buy_now">
																	<a href="#">Buy now</a>
																</div>
															</div> 
														</div>	
									       </div>
												</li>
											</ul>
					</li>
					<li class="drop_list_e"> <a href="#"><img src="img/castle.png" alt=""></a>
											<ul class="drop_podmenu_5">
												<li class="drop_podlist">
													<div class="content">
														<img src="img/macbook.png" alt="macbook" height="329px;">
														<div class="description">
															<div class="text">	
																<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
																<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
															</div>
															<div class="buy">
																<a href="#">
																	<svg>
																		<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
																		<circle r="3px" cx="22" cy="36" fill="white"/>	
																		<circle r="3px" cx="31" cy="36" fill="white"/>	
																	</svg>
																</a>	
																<div class="buy_now">
																	<a href="#">Buy now</a>
																</div>
															</div> 
														</div>	
									       </div>
												</li>
											</ul> 
					</li>
					<li class="drop_list_f"> <a href="#"><img src="img/star.png" alt=""></a>
											<ul class="drop_podmenu_6">
												<li class="drop_podlist">
													<div class="content">
														<img src="img/macbook.png" alt="macbook" height="329px;">
														<div class="description">
															<div class="text">	
																<span style="font-size: 39px;">MY APPS SHOECASE</span><br>
																<span style="font-size: 17px;">Lorem Ipsum is simply dummy text ....</span>
															</div>
															<div class="buy">
																<a href="#">
																	<svg>
																		<polyline points="15,14 37,14 42,8  34,29 19,29 15,14" fill="white" stroke="white"/>
																		<circle r="3px" cx="22" cy="36" fill="white"/>	
																		<circle r="3px" cx="31" cy="36" fill="white"/>	
																	</svg>
																</a>	
																<div class="buy_now">
																	<a href="#">Buy now</a>
																</div>
															</div> 
														</div>	
									       </div>
												</li>
											</ul> 
					</li>
				</ul>						
			</section>
			<section class="fourthsection">	
						<div class="firstpodpunkt">
							<img src="img/percent.png" alt="">	
						</div>
						<div class="secondpodpunkt">
							<img src="img/arrives.png" alt="">
						</div>				
				</section> 									
	</main>

	<footer>
		<div class="footer">
			<span>
			Copyright © 2012 Css Author
			</span>
		</div>
	</footer>



</body>
</html>
